html {
	background: url(img/dolphin.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: red;
    text-align: center;
    font-family: sans-serif;
}
a {
	text-decoration: none;
	color: yellow;
}
a:hover {
	text-decoration: underline;
}
.img {
	width: 300px;
	margin-top: 15%;
}
.left {
	float: left;
}
.right {
	float: right;
}
.header {
    height:50px;
    background:#F0F0F0;
    border:1px solid #CCC;
    width:100%;
    top:0px;
    position: fixed;
    left: 0px;
    background-color: lightpink;
    border: 1px black;
}
.header-cont {
	color:blue;
	margin-top: 15px;
}
.asdf {
	margin-top: 60px;
}